.vs/
vs/
bin/
x64/
obj/
ipch/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.pdb
*.ipdb
*.iobj
*.idb
*.class
*.ilk
*.meta
*.log
*.tlog
*.lastbuildstate
*.pch